<div class="clearfix"></div>
<footer id="site-footer">
  <div class="container">

    <div class="footer-nav">
      <ul class="foot-nav">
        <li><a href="#" title="">Bag</a></li>
        <li><a href="#" title="">Belt</a></li>
        <li><a href="#" title="">Boots</a></li>
        <li><a href="#" title="">T-Shirt</a></li>
        <li><a href="#" title="">Shoes</a></li>
        <li><a href="#" title="">Skirt</a></li>
        <li><a href="#" title="">Tie</a></li>
      </ul>
    </div>

    <div class="footer-logo-coppyright">
      <img src="images/logo/easyshop.png"   class="img-responsive" alt="">
    </div>


    <div class="footer-credit">
      <p>Designed with Django by Jeff James</p>
    </div>
  </div>
</footer>
<div class="easyshop-progress-container">
  <div class="easyshop-progress"></div>
</div>